.title{
    margin-left: 32.5%;
    margin-right: 25%;
    padding: 15px;
    background: whitesmoke;
    text-align: center;
    color: black;
    font-family: 'Shadows Into Light', cursive;
    border-radius: 30px;
    width: 30%;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background:rgb(58, 150, 187);
    width: 100%;
    border-radius: 15px;
}

nav li{
    float: left;
}

nav li a{
    display: block;
    color: whitesmoke;
    padding: 20px 40px;
    text-decoration: none;
}

nav li:hover{
    background:rgb(58, 150, 187);
    opacity: 0.5;
    
    
}
